<% include ../../partials/boilerplate %>

<section class="movie-container">
  <form method="POST" action="/auth/login">
            <input class="input" type="text" placeholder="username" name="username">

        <input class="input" type="password" placeholder="Password" name="password">

        <input type='submit' value='Log in!' class="button is-success" />
  </form>
</div>

<% include ../../partials/end %>
