<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv='X-UA-Compatible' content="ie=edge">
  <title> AEXUS Textbooks </title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" text="text/css" href="/css/style.css">
  </head>
  <body>

  <% include ../partials/nav %>
