<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv='X-UA-Compatible' content="ie=edge">
  <title> AEXUS Textbooks </title>
  <meta name="description" content="DESCRIPTION">

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" text="text/css" href="/css/style.css">

  </head>
  <body>

    <header>

  <nav>
  <div class="top-logo">
    <h1> AEXUS </h1>
  </div>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/genres"> Genres </a></li>
  <li><a href="/textbooks">Textbooks</a></li>
  <li><a href="/textbooks/new"> Add New Textbook </a></li>
  <li><a href="/textbooks/cart"> My Cart </a> </li>
  <li><a href="/auth/logout">Log out </a></li>
  </ul>
  </nav>

  </header>
