<header>

  <nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/genres"> Genres </a></li>
  <li><a href="/textbooks">Textbooks</a></li>
  <li><a href="/textbooks/new"> Add New Textbook </a></li>

  </ul>
  </nav>

  </header>
