<% include ../../partials/boilerplate %>

<% genres.forEach((genre) => { %>
<div class="genre">
  <a href="/genres/<%=genre.id%>"><h2><%=genre.name%></h2></a>
  <img src="<%=genre.image%>" width="100%" />
</div>
<% }) %>

<% include ../../partials/end %>
