@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {
  margin: 0;
  font-family:"Lato", sans-serif;
  text-align: center;
  font-color: #7C2A30;
}

nav {
  padding: 15px;
  background-color: #6A09FF;
}

.about {
  color:black;
  position:relative;
  top: 0px;
  height:200px;
  bottom:0;
}

.middle {
  width:60%;
  margin:auto;
  font-size:20px;
}
.top-logo {
  float: left;
    position: relative;
    top: -10px;
    left: 10px;
    font-family: "Lato";
    font-weight: 300;
    color: #fa4b43;
    font-size: 20px;
    font-weight:700;
    text-transform: uppercase;
    z-index: 99;
}
ul {
  list-style-type:none;
}
ul li {
  display:inline-block;
  font-size:20px;
  padding:10px;
}

li a:link {
  color:white;
  text-decoration:none;
}
li a:hover{
  text-decoration:underline;
}

li a:visited {
  color:white;
  text-decoration:none;
}

li a:active {
  color:white;
  text-decoration:none;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

.textbook{
  display: inline-block;
  /*background-color: #6A09FF;*/
  width: 350px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  /*border: 4px solid black;
  border-radius: 10%;*/
}


.row{
  width: 100%;
  margin: 0 auto;
}



.form-page{
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add {
   width: 50vw;
  padding: 50px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}

form input[type=text], form input[type=password],form input[type=number], form input[type=email], form select {
  border: 0;
  border-bottom: 3px solid #eee;
  font-size: 1.7em;
  margin: 20px 0;
  padding: 5px;
  display: block;
  width: 100%;
  transition: 0.3s;
}

form input[type=text]:focus, form input[type=number]:focus,
form input[type=email]:focus, form select:focus {
  border-bottom: 3px solid blue;
  outline: 0;
}

.add form input[type=submit], .edit form input[type=submit],
.login form input[type=submit], .register form input[type=submit]  {
  background-color: blue;
  display: block;
  margin: auto;
  padding: 10px 30px;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
}

.add form input[type=submit]:hover, .add form input[type=submit]:focus,
.edit form input[type=submit]:hover, .edit form input[type=submit]:focus {
  outline: 0;
  background-color: blue;
}

.editlink, .dellink, .cart {
  padding:10px;
  background-color:blue;
  font-family:Ablefont, Irish Grover;
  font-size:20px;
}

/*slides css*/

#slides {
  position:relative;
  top:-15px;
  height:550px;
  padding:0px;
  margin:0px;
  list-style-type:none;
}

.slide {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity:0;
  z-index:1;
  -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}


#slide1{
  background-image:url('https://nusciencereview.files.wordpress.com/2014/12/mathbig2.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

#slide2 {
  background-image:url('http://g-teacher.com/wp-content/uploads/2017/08/Biology.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

#slide3 {
  background-image:url('https://cdn-images-1.medium.com/max/1500/1*m2gDBT_nc-iE7R4AM3sHBQ.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}
