<% include ../../partials/boilerplate %>

<h1> Cart </h1>
<% textbooks.forEach((textbook) => { %>

<div class="textbook">
  <a href="/textbooks/cart/<%=textbook.id%>"><img src="<%= textbook.img %>" width= "300"></a>
  <p> <%=textbook.title%></p>
  <p> Price: <%=textbook.price %></p>
</div>
<% }) %>


<% include ../../partials/end %>
