<% include ../../partials/boilerplate %>

<% textbooks.forEach((textbook) => { %>

<div class="textbook">
  <img src="<%= textbook.image %>" width= "300">
</div>
<% }) %>

<% include ../../partials/end %>
