<% include ../../partials/boilerplate %>

<div class="about">
<h1> About </h1>
AEXUS is a textbook rental company that allow students to rent textbooks at
inexpensive prices. It rents books in topics including math, science, computer science,
economics, and history.

<% include ../../partials/end %>
