<% include ../../partials/boilerplate %>
<ul id="slides">
    <li class="slide showing" id="slide1"></li>
    <li class="slide" id="slide2"></li>
    <li class="slide" id="slide3"></li>
  </ul>

<div class="about">
<h1> About </h1>
<p class="middle">
AEXUS is a textbook rental company that allow students to rent textbooks at
inexpensive prices. It rents books in topics including math, science, computer science,
economics, and history.
</p>
<% include ../../partials/end %>
